.messageContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
}

/* @keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.icon {
  font-size: 2rem;
}

.closeButton {
  color: white;
  border-radius: 2px;
  font-size: 1.6rem;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  background-color: gray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #666;
}
