.messageContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  animation: moveInBottom 0.2s ease-in-out;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon {
  font-size: 2rem;
}
