.avatarUpload-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 5rem);
}

.avatar-input {
  display: none;
}

.avatar-img {
  border-radius: 50%;
  width: 14.5rem;
  height: 15rem;
  border: 1px solid white;
}

.avatar-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
