.download-container {
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.05);
}

.scrape-container {
  margin: 2rem auto 0rem auto;
}

.scrape-container,
.download-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 130rem;
  border-radius: 4px;
  position: relative;
}

.download-container {
  overflow: hidden;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.download-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.download-history {
  text-decoration: none;
  color: white;
  padding: 0.1rem 1rem;
  background-color: #222;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.download-history:hover {
  background-color: #111;
}

.no-download-found {
  color: white;
  padding: 2rem;
  font-size: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 4rem);
  overflow: hidden;
  height: 50rem;
}

@media only screen and (max-width: 450px) {
  .download-container {
    width: 99%;
  }
}

.download-footer {
  font-size: 1.2rem;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 4px;
  max-width: 11rem;
}

.select option {
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
}

.empty {
  filter: invert(84.5%);
  height: 50rem;
  align-self: center;
}
