.sharing-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  width: 85%;
  max-width: 130rem;
  border-radius: 4px;
  position: relative;
}

.sharing-header {
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  padding: 0.8rem 3rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  justify-content: space-between;
}

.filterButton {
  padding: 0rem 1rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.filterButton:hover {
  color: white;
}

.active {
  color: white;
}

.searchBar input {
  border-radius: 4px;
  border-width: 0px;
  padding: 0 0.8rem;
  outline: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  display: flex;
  align-items: center;
  padding-right: 0.2rem;
  width: 11.6rem;
  height: 100%;
}

.searchBar {
  height: 3rem;
  border-radius: 4px;
  background-color: rgba(9, 1, 1, 0.485);
  font-size: 1.6rem;
}

.tagSearch {
  display: flex;
  align-items: center;
  background-color: rgba(9, 1, 1, 0.485);
  border-radius: 4px;
}

.img {
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}
.img:hover {
  color: white;
}

.searchBar Input:focus {
  box-shadow: 0 0 0 1px #2684ff;
}

.searchBar i {
  filter: invert(40%);
  cursor: pointer;
}

.searchBar input::placeholder {
  font-size: 1.4rem;
  color: #999;
}

.no-sharings-found {
  color: white;
  padding: 2rem;
  font-size: 2rem;
  margin: auto;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 4rem);
}

@media only screen and (max-width: 800px) {
  .sharing-header {
    flex-direction: column-reverse;
    padding: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .sharing-container {
    width: 99%;
  }
}

.sharing-footer {
  font-size: 1.2rem;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.active {
  color: white;
  font-weight: 500;
}

.sharing-subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  color: white;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(0, 0, 0, 0.01);
}

.top-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.col1,
.col2,
.col3,
.col4,
.col5 {
  width: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.empty {
  filter: invert(84.5%);
  height: 50rem;
  align-self: center;
}
