* {
  --success-bt: rgba(4, 161, 4, 0.8);
  --danger-bt: rgba(252, 21, 21, 0.8);
  --warning-bt: rgba(4, 77, 161, 0.8);
  --success-bt-hover: rgba(3, 125, 3, 0.8);
  --danger-bt-hover: rgba(255, 0, 0, 0.95);
  --warning-bt-hover: rgba(1, 53, 112, 0.8);
  --custom-bt: rgb(124 58 237);
  --custom-bt-hover: rgb(107, 31, 237);
  --custom2-bt: rgba(255, 255, 255, 0.15);
  --custom2-bt-hover: rgba(255, 255, 255, 0.2);
}

.simpleButton {
  all: unset;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: inline-block;
  color: white;
  cursor: pointer;
}

.saveButton,
.uploadButton,
.updateButton {
  background-color: var(--success-bt);
}

.deleteButton,
.logOutButton,
.cancelButton {
  background-color: var(--danger-bt);
}

.removeButton {
  background-color: var(--warning-bt);
}

.customButton {
  background-color: var(--custom-bt);
}

.customButton2 {
  background-color: var(--custom2-bt);
}

.saveButton:hover,
.updateButton:hover,
.uploadButton:hover {
  background-color: var(--success-bt-hover);
}

.deleteButton:hover,
.logOutButton:hover,
.cancelButton:hover {
  background-color: var(--danger-bt-hover);
}

.removeButton:hover {
  background-color: var(--warning-bt-hover);
}

.customButton:hover {
  background-color: var(--custom-bt-hover);
}

.customButton2:hover {
  background-color: var(--custom2-bt-hover);
}
