.setting {
  padding: 0.4rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease;
  border-radius: 6px;
  cursor: pointer;
}

.setting:hover {
  color: white;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.14);
}

.text {
  cursor: pointer;
}
