.article-editor {
  z-index: 4;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  height: calc(100% - 16rem);
}

.cm-editor {
  height: fit-content !important;
}

.md-editor {
  height: 99.9%;
}

.md-editor-preview {
  overflow: hidden !important;
  height: fit-content !important;
  min-height: 100% !important;
}
