.shareModal {
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(13, 13, 13, 0.9);
  padding: 3rem;
  border-radius: 8px;
  color: white;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.05); /* color */
  z-index: 8;
}

.shareButton {
  all: unset;
  margin-top: 1rem;
  font-size: 1.8rem;
  background-color: rgb(6, 144, 6);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.shareButton:hover {
  background-color: green;
}

.shareInput {
  margin-top: 1rem;
  font-size: 2rem;
  height: 2.6rem;
  padding: 0.2rem 0.8rem;
  width: 80%;
}

.cancelButton {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.8);
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  padding: 0.1rem 0.65rem;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: red;
}
