.article-preview-box {
  padding: 2rem 0rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  width: 90%;
  max-width: 1300px;
  align-items: center;
  border-radius: 10px;
  min-height: calc(100% - 50px - 8rem);
}

.preview-container {
  margin-top: 2rem;
  width: 90%;
}

.markdown {
  padding: 2rem;
  border-radius: 4px;
}

.topic-bar {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.6);
  justify-content: space-between;
}

.backButton {
  transition: all 0.2s ease;
  cursor: pointer;
}

.backButton:hover {
  color: white;
}

.topic {
  color: white;
}

.container-left {
  padding: 1rem 0.5rem 1rem 2rem;
  display: flex;
  gap: 3rem;
}

.container-right {
  padding: 1rem 2rem 1rem 0.5rem;
  display: flex;
  gap: 1rem;
}

.deleteButton {
  color: rgb(233, 42, 42);
  border: 1px solid rgb(233, 42, 42);
  background: linear-gradient(
    to right,
    rgb(233, 42, 42) 50%,
    rgba(0, 0, 0, 0) 50%
  );
}

.editButton {
  color: magenta;
  border: 1px solid magenta;
  background: linear-gradient(to right, magenta 50%, rgba(0, 0, 0, 0) 50%);
}

.editButton,
.deleteButton {
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  background-size: 200% 100%;
  background-position: right top;
  transition: all 0.4s ease;
  cursor: pointer;
}

.editButton:hover,
.deleteButton:hover {
  color: white;
  background-position: left top;
  text-decoration: none;
}

.tag-container {
  display: flex;
  padding-top: 2rem;
  padding-left: 5%;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 5%);
}

@media screen and (max-width: 600px) {
  .preview-container {
    width: 98%;
  }
  .article-preview-box {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .preview-container {
    width: 95%;
  }
  .article-preview-box {
    width: 95%;
  }
}

.date-container {
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
  padding-left: 5%;
  width: calc(100% - 5%);
}

.h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
}

.permission-container {
  color: white;
  font-size: 1.8rem;
  display: flex;
  padding-top: 1rem;
  gap: 2rem;
  padding-left: 5%;
  width: calc(100% - 5%);
  align-items: center;
}

.yes {
  border-radius: 2px;
  font-size: 1.4rem;
  background-color: green;
  padding: 0.1rem 0.5rem;
  margin-left: -0.8rem;
}

.no {
  border-radius: 2px;
  font-size: 1.4rem;
  background-color: rgb(202, 5, 5);
  padding: 0.1rem 0.5rem;
  margin-left: -0.8rem;
}
