.confirm-message {
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 40rem;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #111;
  padding: 3rem;
  border-radius: 8px;
  color: white;
  text-align: center;
  z-index: 20;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.15); /* color */
  z-index: 20;
}

.confirm-message button {
  border: none;
  padding: 0.3rem 1rem;
  color: white;
  font-size: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
}

.yes:hover {
  background-color: red;
}

.yes {
  background-color: rgba(255, 0, 0, 0.8);
}

.no {
  background-color: rgba(255, 255, 255, 0.2);
}

.no:hover {
  background-color: green;
}

.buttonContainer {
  display: flex;
  gap: 3rem;
}

.bold {
  font-weight: 600;
}

.icon {
  font-size: 3rem;
}
