.container {
  width: 43rem;
  background-color: rgba(36, 37, 41, 1);
  position: relative;
}

.subContainer {
  position: fixed;
  width: 43rem;
}

.logout-btn {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.header2 {
  display: flex;
  align-items: center;
  height: 7rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  justify-content: space-between;
}

.logout-btn:hover {
  color: white;
}

.icon {
  color: white;
  font-size: 2.2rem;
  padding: 0 3rem;
  position: relative;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: 2rem;
  top: -0.5rem;
}
.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.cross-button {
  font-size: 2.2rem;
  background-color: rgba(22, 24, 25, 1);
  padding: 0.5rem 1.5rem;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 4rem;
}

.cross-button:hover {
  color: white;
  cursor: pointer;
}

.h2 {
  font-size: 2.2rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
}

.pink {
  background-color: #ffa7a7;
}

.yellow {
  background-color: #f8d15e;
}

.skyblue {
  background-color: #0ebdf6;
}
