.personalInfo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem;
  gap: 3rem;
}

.info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.personalInfo-box input {
  height: max(2.5rem, 21.25px);
  border-radius: 4px;
  padding: max(0.5rem, 4.25px) max(8px, 1rem);
  font-size: max(1.9rem, 16.15px);
  border-width: 0px;
  outline: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.7);
  width: 15rem;
}

.personalInfo-box input {
  background-color: rgba(255, 255, 255, 0.06);
}

.input:focus {
  color: white;
  box-shadow: 0 0 0 1px #2684ff;
}

.input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
