.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  color: white;
  font-size: 2rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  height: 10%;
}

.h4 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.icon {
  width: 3.5rem;
  height: 100%;
  position: relative;
}

.icon-img {
  width: 3.5rem;
  height: 100%;
}

.top-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tag-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.article-topic {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  max-width: 50%; /*previous - 70%*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article-topic:hover {
  color: white;
}

.main-container {
  width: calc(100% - 6rem - 10rem);
}

@media screen and (max-width: 1000px) {
  .article-topic {
    max-width: 30%; /*previous - 40%*/
  }
}

.shareButton {
  font-size: 1.6rem;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.shareButton:hover {
  color: white;
}

.h2 {
  font-size: 1.4rem;
  color: white;
}

.message-icon {
  font-size: 1.6rem;
  color: rgb(255, 191, 0);
  cursor: pointer;
  transition: all 0.2s ease;
}
.message-icon:hover {
  transform: scale(1.1);
}

.d-icon {
  position: absolute;
  right: -1rem;
  bottom: 0.4rem;
  background-image: linear-gradient(to bottom, white, rgb(81, 81, 244));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkblue;
}

.readOnly {
  margin-left: 1rem;
  background-color: brown;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}
