* {
  --success-msg: rgb(50, 178, 11);
  --error-msg: rgb(240, 47, 47);
  --heading: rgba(255, 255, 255, 0.7);
  --description: rgba(255, 255, 255, 0.9);
}

.heading {
  font-size: 2.3rem;
  border-bottom: 2px solid var(--heading);
  align-self: flex-start;
}

.description {
  font-size: 1.8rem;
  color: var(--description);
  align-self: flex-start;
}

.warning {
  font-size: 1.8rem;
  font-weight: 500;
}

.flex-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invert {
  filter: invert(100%);
}

.seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

::-webkit-search-cancel-button {
  cursor: pointer;
}
